.banner{
  /* margin-top: 10vh; */
  height: 90vh;
  margin-bottom: 30px;
  color: white;
  object-fit: contain;
}
.banner_contents{margin-left: 30px;
  width: 50vw;
  position: relative;
  padding-top: 60vh;
}
.banner_title{
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.2rem;
}
.banner_description{
  width: 45rem;
  line-height: 1;
  padding: 1rem 0;
  font-size: 1rem;
  max-width: 360px;
  height: 80px;
}
.banner_button{
  cursor: pointer;
  color: #fff;
  font-weight: 200;
  font-size: 1.2rem;
  border: none;
  outline: none;
}











































































